<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.CashTableMapper">

<insert id="initializeCash" parameterType="HumanVO">
insert into <!-- 충전금 초기화 -->
	cash_table(
		id
		,cash
	) values (
		#{id}
		,#{cash}
	)
</insert>

<update id="deposit" parameterType="HumanVO">
update cash_table
	set cash = #{cash}
where
	id = #{id}
</update>

</mapper>
