<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.HumanMapper">

<!-- 회원을 추가하는 태그 -->
<insert id="insertHumanTuple" parameterType="HumanVO">
insert into
    member(
        id
        ,password
        ,name
        ,age
        ,bmi
        ,height
        ,salary
        ,latest_edu
        ,cash
        ,latest_edu_index
        ,grade_index
    )values(
        ,#{id}
        ,#{password}
        ,#{name}
        ,#{age}
        ,#{bmi}
        ,#{height}
        ,#{salary}
        ,#{latestEdu}
        ,#{cash}
        ,#{latestEduIndex}
        ,#{gradeIndex}
    )
</insert>

<!-- 회원찾기 기능 -->
<select id="searchAccount" parameterType="String" resultType="Human">

</select>

<!-- param: id문자열 -->
<delete id="removeAccount" parameterType="String">
delete from
	member
where
	id = #{id}
</delete>

</mapper>
