<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MatchAndLockMapper">

<insert id="initializeLockInfo" parameterType="HumanVO">
insert into
    match_and_lock(
        id
        ,matched_id
        ,invited
        ,match_lock
        ,success
        ,account_lock
        ,lock_count
    )values(
        #{id}
        ,#{matchedId}
        ,#{invited}
        ,#{matchLock}
        ,#{success}
        ,#{accountLock}
        ,#{lockCount}
    )
</insert>

<update id="updateLockCount" parameterType="HumanVO">
update match_and_lock
	set lock_count=#{lockCount}
where
	id = #{id}
</update>

</mapper>
