<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.MemberMapper">

<!-- 회원을 찾아주는 태그 -->
<select id="searchAccount" parameterType="String" resultType="vo.Human">
select
	m.ID	as	id
	,m.PASSWORD	as	password
	,m.NAME	as name
	,m.AGE	as	age
	,m.SEX	as	sex
	,m.BMI	as	bmi
	,m.HEIGHT	as	height
	,m.SALARY	as	salary
	,m.LATEST_EDU	as	latestEdu
	,c.CASH	 as	cash
	,g.grade	as	grade
	,m.LATEST_EDU_INDEX	as	latestEduIndex
	,m.GRADE_INDEX	as	gradeIndex
	,m.TOTAL_SCORE	as	totalScore
	,m.NORMALIZED_TOTAL_SCORE	as	normalizedTotalScore 
	,l.MATCHED_ID as matchedId
	,l.INVITED	as	invited
	,l.MATCH_LOCK	as	matchLock
	,SUCCESS	as	success
	,LOCK_COUNT	as	lockCount
from
	member m, cash_table c, grade g, match_and_lock l
where
	m.id = #{parameter}
	and
	m.id = c.id
	and
	l.id = m.id
	and
	g.grade_index = m.grade_index
</select>

<!-- 회원을 추가하는 태그 -->
<insert id="addAccount" parameterType="vo.Human">
insert into
    member(
        ID
        ,PASSWORD
        ,NAME
        ,AGE
        ,SEX
        ,BMI
        ,HEIGHT
        ,SALARY
        ,LATEST_EDU
        ,LATEST_EDU_INDEX
        ,GRADE_INDEX
        ,TOTAL_SCORE
        ,NORMALIZED_TOTAL_SCORE
    ) values (
        #{id}
        ,#{password}
        ,#{name}
        ,#{age}
        ,#{sex}
        ,#{bmi}
        ,#{height}
        ,#{salary}
        ,#{latestEdu}
        ,#{latestEduIndex}
        ,#{gradeIndex}
        ,#{totalScore}
        ,#{normalizedTotalScore}
    )
</insert>

<!-- 성별별 리스트 반출 랭크정렬 -->
<select id="getList" parameterType="HumanVO" resultType="HumanVO">
select
	m.ID	as	id
	,m.PASSWORD	as	password
	,m.NAME	as	name
	,m.AGE	as	age
	,m.SEX	as	sex
	,m.BMI	as	bmi
	,m.HEIGHT	as	height
	,m.SALARY	as	salary
	,m.LATEST_EDU	as	latestEdu
	,c.CASH	as	cash
	,m.LATEST_EDU_INDEX	as	latestEduIndex
	,m.GRADE_INDEX	as	gradeIndex
	,g.grade	as	grade
	,m.TOTAL_SCORE	as	totalScore
	,m.NORMALIZED_TOTAL_SCORE	as	normalizedTotalScore
from
	member m, grade g, cash_table c
where
	m.sex = #{sex}
	and
	m.grade_index = g.grade_index
	and
	m.id = c.id
order by 
	NORMALIZED_TOTAL_SCORE desc
</select>

<select id="getAll" resultType="HumanVO">
select
	m.ID	as id
	,m.PASSWORD	as password
	,m.NAME	as name
	,m.AGE	as age
	,m.SEX	as sex
	,m.BMI	as bmi
	,m.HEIGHT	as	height
	,m.SALARY	as	salary
	,m.LATEST_EDU	as	latestEdu
	,c.CASH	as	cash
	,m.LATEST_EDU_INDEX	as	latestEduIndex
	,m.GRADE_INDEX	as	gradeIndex
	,g.grade 	as	grade
	,m.TOTAL_SCORE	as	totalScore
	,m.NORMALIZED_TOTAL_SCORE	as	normalizedTotalScore
    ,matched_id	as	matchedId
	,invited	as	invited
	,match_lock	as	matchedLock
	,success	as	success
	,lock_count	as	lockCount
from
	member m, grade g, match_and_lock l, cash_table c
where
	m.grade_index = g.grade_index
	and
	m.id = l.id
	and
	c.id = m.id
</select>

<update id="updateGrade" parameterType="vo.Human">
update member
	set grade_index = #{gradeIndex}
where
	id = #{id}
</update>

<!-- param: id문자열 -->
<delete id="deleteAccount" parameterType="vo.Human">
delete from
	member
where
	id = #{id}
</delete>

</mapper>
